@font-face {
    font-family: 'Note_sans_jp';
    src: url(C:\Users\gura1\Downloads\Noto_Sans_JP.zip);
}
html{

}
*{
    max-width: 100%;
 padding: 0px;
 margin: 0px;   
}
header{

    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    z-index: 1000;
}
.posse_logo img{
    vertical-align: bottom;
}
.header_inner{
display: flex;
align-items: center;
}
header ul{
    list-style: none;
}
header li{
    margin: 0px;
    padding: 0px;
}
.header_nav{
    display: block;
    align-items: left;
}
.header_nav_list{
    display: flex;
    gap: 24px;
   
}
.header_nav_item{
    display: list-item;
}
.Hnil{
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
font-style: bold;
color: #333333;
font-family: 'Noto Sans JP', sans-serif;
}
.header_inner_sns{
    display: flex;
    gap: 24px;
    margin-left: 32px;
    
}
.Hisi{
    display: flex;
    vertical-align: middle;
}
.Hisl{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    font: 24px;
    vertical-align: middle;
}
#insta{
    border:1px solid ;
    border-color:#EFF2F5 ;
    border-radius: 50% ;
    background-position:50%,70%,50%,50%;
    background-image: url(./assets/img/icon/icon-instagram.svg);

}
#twitter{
    border:1px solid ;
    border-color: #EFF2F5;
    border-radius: 50% ;
    background-position: 50%,70%,50%,50% ;
    background-image: url(./assets/img/icon/icon-twitter.svg);

}

.h_icon p{
    margin-right:32px;
    
}
.main_1{
    position:absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 80px;
}
.text{
    position: relative;
    width: 400px;
    height: 200px;
    right: 62px;
    left: 63px;
    top: 40px;
    line-height: 80px;
    z-index: 3;
    overflow: hidden;
 }
.text p{
    font-size: 16px;
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 180%;
margin-bottom: 14px;
color: #0071BC;


}
.text h1{
    font-size: 60px;
    letter-spacing: 0.05em;
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
z-index: 5;

color: #333333;
}
.rectangle{
    position: absolute;
width: 500px;
height: 281px;
left: 80px;
top: 198px;
background: #EFF2F5;
border-radius: 24px;
z-index: 4;

}
.mian_scoroll_down{
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    height:21px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 120px;
    top: 640px;
    list-style: none;
    font-style: bold;
    left: -420px;
    padding: 0;
    
}
.mian_scoroll_down::before{
    content:"";
    width: 10px;
    height: 10px;
    right: 5px;
    background-color: #ADADAD;
    border-radius: 50%;
}
    

.phot{
    background-color: #FFFFFF;
background-image: url(./assets/img/img-hero.jpg);
background-size: contain;
position: absolute;
z-index: 2;
width: 976px;
height: 680px;
right: 0px;
top: 0px;
border-radius: 80px 0px 0px 80px;
}

.main_2{
    position: absolute;
    margin-top: 96px;

    width: 100%;

}
.posse_title{
top: 700px;
display: inline-block;
    text-align: center;
    font-size: 24px;
line-height: 1.5;
letter-spacing: 0.05em;
position: absolute;
height: 54px;
width: 100%;

}
.posse_title_item p{
letter-spacing: initial;
font-size: 15px;
color: #0071BC;
display: block;
font-family: 'Plus Jakarta Sans', sans-serif;
line-height: 1.8;
margin-top: 8px;
}



 
.posse_body{
    display: flex;
    gap: 40px;
}
.posse_body img{ 
    position: absolute;
    width: 472px;
    height: 312px;
    left: 228px;
    top: 900px;
    right: 700px;
    border-radius: 16px;

}
 .text2{

    
    position: absolute;
    width: 472px;
    height: 175px;
    top: 950px;
    left: 740px;
    font-style: solid;
    line-height: 1.8;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;

 }
.main_3{
    margin-top: 140px;
padding: 0,24px;
    position: absolute;
    width: 984px;
    height: 358px;
    left: 230px;
    top: 1438px;
    background-image: url(./assets/img/bg-line.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 48px;
    color: #FFFFFF;
}
.line{
    position: absolute;
    
    background-color: #0071BC;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.28%;


mix-blend-mode: normal;
opacity: 0.9;
border-radius: 48px;
}
.line img{
    position: absolute;
left: 33.23%;
right: 62.7%;
top: 22.63%;
bottom: 66.2%;
display: inline-block;
}
.line h2{
    display: flex;
    position: absolute;
    width: 100%;
    height: 65px;
    justify-content: center;
    
    top: 20.63%;
    bottom: 66.2%;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
}
.line_logo{
    background-image: url(./assets/img/icon/icon-line.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 10px;
    margin-top: 16px;
}
.line_contents{
    width: 100%;
    height: 80px;
    display: inline-block;
    position: absolute;
top: 41.62%;
bottom: 39.94%;
padding-top: 20px;

}
.line p{

    
text-align: center;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;

}
.button{
    margin-top: 16px;
    height: 50px;
    display: inline-block;
    position: relative;
    top:253px ;
    width: 100%;
    

}
.button a{
    background-color: #fff;
    z-index: 2;
    border-radius: 50px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.8;
    max-width: 320px;
    padding: 12px;
    position: relative;
    width: 100%;
}
.u_icon_link{
    background-image: url(./assets/img/icon/icon-link-dark.svg);
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 14px;
}














footer{

}
.fotter_inner{
    display: flex;
    align-items: center;
    margin-left: auto;
}